In [2]:
import sqlite3
from pandas.io import sql
import subprocess
%load_ext sql

In [3]:
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
# Load environment variables from the .env file
load_dotenv()

# Retrieve the database credentials from environment variables
db_username = os.getenv("DB_USERNAME")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")

# Use the credentials in your database connection code
connection_string = f"postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"
# ... rest of your code ...
engine = create_engine(connection_string)

# Revenue/country

In [7]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}

SELECT SUM(USERS_PAY_COUNT) AS SUM_PAY,
       COUNTRY
FROM
        (SELECT COUNT(*) AS USERS_PAY_COUNT,
        R.USER_ID,
        R.COUNTRY,
        B.PRICE
    FROM READ_DATA AS R
    JOIN BUY_DATA AS B ON R.USER_ID = B.USER_ID
    GROUP BY R.USER_ID,
        B.PRICE,
        R.COUNTRY
    ORDER BY R.COUNTRY) AS MAIN_QUERY
GROUP BY COUNTRY
ORDER BY SUM_PAY DESC;

8 rows affected.

[(Decimal('47808'), 'country_5'),
 (Decimal('34036'), 'country_2'),
 (Decimal('33654'), 'country_7'),
 (Decimal('26998'), 'country_4'),
 (Decimal('13370'), 'country_6'),
 (Decimal('3002'), 'country_3'),
 (Decimal('2134'), 'country_8'),
 (Decimal('585'), 'country_1')]

# Monthly readers/subscribers/buyers

In [8]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT 
    DATE_TRUNC('month', my_date) AS month,
    COUNT(*) AS buyers
FROM buy_data
GROUP BY month
ORDER BY month;

3 rows affected.

[(datetime.datetime(2018, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 947),
 (datetime.datetime(2018, 2, 1, 0, 0, tzinfo=datetime.timezone.utc), 2564),
 (datetime.datetime(2018, 3, 1, 0, 0, tzinfo=datetime.timezone.utc), 4895)]

In [10]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT 
    DATE_TRUNC('month', my_date) AS month,
    COUNT(*) AS readers
FROM read_data
GROUP BY month
ORDER BY month;

3 rows affected.

[(datetime.datetime(2018, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 99932),
 (datetime.datetime(2018, 2, 1, 0, 0, tzinfo=datetime.timezone.utc), 189657),
 (datetime.datetime(2018, 3, 1, 0, 0, tzinfo=datetime.timezone.utc), 292287)]

In [11]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT 
    DATE_TRUNC('month', my_date) AS month,
    COUNT(*) AS subscribers
FROM subscribe_data
GROUP BY month
ORDER BY month;

3 rows affected.

[(datetime.datetime(2018, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 2043),
 (datetime.datetime(2018, 2, 1, 0, 0, tzinfo=datetime.timezone.utc), 2450),
 (datetime.datetime(2018, 3, 1, 0, 0, tzinfo=datetime.timezone.utc), 3124)]

# Funnel analysis breakdown for all users by date

In [12]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT
    r.my_date,
    COUNT(DISTINCT CASE WHEN r.user_id IS NOT NULL THEN r.user_id ELSE NULL END) AS readers,
    COUNT(DISTINCT CASE WHEN s.user_id IS NOT NULL THEN r.user_id ELSE NULL END) AS subscribers,
    COUNT(DISTINCT CASE WHEN b.user_id IS NOT NULL THEN r.user_id ELSE NULL END) AS buyers
FROM
    read_data AS r
    LEFT JOIN subscribe_data AS s ON r.user_id = s.user_id
    LEFT JOIN buy_data AS b ON r.user_id = b.user_id
GROUP BY
    r.my_date
ORDER BY
    r.my_date;

90 rows affected.

[(datetime.date(2018, 1, 1), 1794, 280, 83),
 (datetime.date(2018, 1, 2), 1849, 269, 91),
 (datetime.date(2018, 1, 3), 1886, 233, 86),
 (datetime.date(2018, 1, 4), 1987, 267, 130),
 (datetime.date(2018, 1, 5), 2043, 266, 141),
 (datetime.date(2018, 1, 6), 2102, 305, 148),
 (datetime.date(2018, 1, 7), 2107, 300, 146),
 (datetime.date(2018, 1, 8), 2161, 337, 169),
 (datetime.date(2018, 1, 9), 2271, 383, 185),
 (datetime.date(2018, 1, 10), 2288, 387, 188),
 (datetime.date(2018, 1, 11), 2335, 386, 214),
 (datetime.date(2018, 1, 12), 2370, 427, 243),
 (datetime.date(2018, 1, 13), 2421, 412, 239),
 (datetime.date(2018, 1, 14), 2568, 493, 270),
 (datetime.date(2018, 1, 15), 2549, 508, 282),
 (datetime.date(2018, 1, 16), 2661, 509, 288),
 (datetime.date(2018, 1, 17), 2633, 547, 325),
 (datetime.date(2018, 1, 18), 2539, 471, 299),
 (datetime.date(2018, 1, 19), 2842, 599, 349),
 (datetime.date(2018, 1, 20), 2839, 592, 352),
 (datetime.date(2018, 1, 21), 2706, 546, 326),
 (datetime.date(2018, 1, 22), 2734, 542, 323),
 (datetime.date(2018, 1, 23), 2798, 547, 330),
 (datetime.date(2018, 1, 24), 3230, 641, 351),
 (datetime.date(2018, 1, 25), 3001, 596, 318),
 (datetime.date(2018, 1, 26), 3098, 618, 337),
 (datetime.date(2018, 1, 27), 3230, 665, 381),
 (datetime.date(2018, 1, 28), 3502, 704, 404),
 (datetime.date(2018, 1, 29), 3673, 750, 424),
 (datetime.date(2018, 1, 30), 3325, 726, 434),
 (datetime.date(2018, 1, 31), 3321, 701, 417),
 (datetime.date(2018, 2, 1), 3352, 700, 424),
 (datetime.date(2018, 2, 2), 3825, 749, 460),
 (datetime.date(2018, 2, 3), 3828, 752, 509),
 (datetime.date(2018, 2, 4), 4091, 798, 571),
 (datetime.date(2018, 2, 5), 3652, 717, 550),
 (datetime.date(2018, 2, 6), 4052, 785, 586),
 (datetime.date(2018, 2, 7), 3637, 734, 580),
 (datetime.date(2018, 2, 8), 4217, 854, 687),
 (datetime.date(2018, 2, 9), 3848, 794, 636),
 (datetime.date(2018, 2, 10), 3826, 783, 631),
 (datetime.date(2018, 2, 11), 4739, 915, 730),
 (datetime.date(2018, 2, 12), 4189, 843, 699),
 (datetime.date(2018, 2, 13), 3922, 808, 689),
 (datetime.date(2018, 2, 14), 3791, 781, 660),
 (datetime.date(2018, 2, 15), 4386, 843, 689),
 (datetime.date(2018, 2, 16), 4438, 846, 693),
 (datetime.date(2018, 2, 17), 4424, 799, 680),
 (datetime.date(2018, 2, 18), 4097, 746, 639),
 (datetime.date(2018, 2, 19), 4856, 832, 737),
 (datetime.date(2018, 2, 20), 4584, 808, 723),
 (datetime.date(2018, 2, 21), 5596, 914, 801),
 (datetime.date(2018, 2, 22), 5356, 925, 826),
 (datetime.date(2018, 2, 23), 4862, 904, 827),
 (datetime.date(2018, 2, 24), 5726, 996, 878),
 (datetime.date(2018, 2, 25), 6127, 1080, 905),
 (datetime.date(2018, 2, 26), 4861, 930, 787),
 (datetime.date(2018, 2, 27), 5424, 1005, 880),
 (datetime.date(2018, 2, 28), 5644, 1032, 929),
 (datetime.date(2018, 3, 1), 5443, 999, 942),
 (datetime.date(2018, 3, 2), 6487, 1086, 1116),
 (datetime.date(2018, 3, 3), 5727, 1003, 1085),
 (datetime.date(2018, 3, 4), 6138, 1047, 1159),
 (datetime.date(2018, 3, 5), 6430, 1063, 1201),
 (datetime.date(2018, 3, 6), 6086, 1036, 1193),
 (datetime.date(2018, 3, 7), 5319, 932, 1106),
 (datetime.date(2018, 3, 8), 5491, 960, 1152),
 (datetime.date(2018, 3, 9), 5205, 927, 1081),
 (datetime.date(2018, 3, 10), 6609, 1044, 1268),
 (datetime.date(2018, 3, 11), 5764, 983, 1209),
 (datetime.date(2018, 3, 12), 6315, 1017, 1314),
 (datetime.date(2018, 3, 13), 5943, 991, 1322),
 (datetime.date(2018, 3, 14), 4941, 777, 987),
 (datetime.date(2018, 3, 15), 6275, 1057, 1346),
 (datetime.date(2018, 3, 16), 6406, 1068, 1360),
 (datetime.date(2018, 3, 17), 6011, 1032, 1317),
 (datetime.date(2018, 3, 18), 5531, 976, 1206),
 (datetime.date(2018, 3, 19), 5219, 706, 852),
 (datetime.date(2018, 3, 20), 6060, 1019, 1246),
 (datetime.date(2018, 3, 21), 7992, 1216, 1561),
 (datetime.date(2018, 3, 22), 7162, 1151, 1439),
 (datetime.date(2018, 3, 23), 7531, 1064, 1483),
 (datetime.date(2018, 3, 24), 7600, 931, 1534),
 (datetime.date(2018, 3, 25), 7264, 777, 1403),
 (datetime.date(2018, 3, 26), 6714, 657, 1232),
 (datetime.date(2018, 3, 27), 7839, 586, 1127),
 (datetime.date(2018, 3, 28), 6851, 462, 922),
 (datetime.date(2018, 3, 29), 6649, 341, 726),
 (datetime.date(2018, 3, 30), 7034, 248, 558),
 (datetime.date(2018, 3, 31), 132, 0, 0)]

# All users on each day

In [ ]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT r.my_date,
    r.my_time,
    r.user_id,
    COUNT(DISTINCT(r.user_id)) AS readers,
    COUNT(DISTINCT(s.user_id)) AS subscribers,
    COUNT(DISTINCT(b.user_id)) AS buyers,
    r.topic,
    b.price,
    r.source
FROM read_data AS r
LEFT JOIN subscribe_data AS s ON r.user_id = s.user_id
LEFT JOIN buy_data AS b ON r.user_id = b.user_id
GROUP BY r.my_date,
    r.user_id,
    r.my_time,
    r.topic,
    b.price,
    r.source;

624804 rows affected.

# Daily readers

In [5]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT my_date, SUM(user_count) AS daily_readers
FROM
(SELECT my_date, user_id, COUNT(*) as user_count
FROM read_data
GROUP BY my_date, user_id) AS main
GROUP BY my_date;

90 rows affected.

[(datetime.date(2018, 1, 1), Decimal('1866')),
 (datetime.date(2018, 1, 2), Decimal('1896')),
 (datetime.date(2018, 1, 3), Decimal('2013')),
 (datetime.date(2018, 1, 4), Decimal('2276')),
 (datetime.date(2018, 1, 5), Decimal('2285')),
 (datetime.date(2018, 1, 6), Decimal('2398')),
 (datetime.date(2018, 1, 7), Decimal('2379')),
 (datetime.date(2018, 1, 8), Decimal('2505')),
 (datetime.date(2018, 1, 9), Decimal('2896')),
 (datetime.date(2018, 1, 10), Decimal('2999')),
 (datetime.date(2018, 1, 11), Decimal('2790')),
 (datetime.date(2018, 1, 12), Decimal('2555')),
 (datetime.date(2018, 1, 13), Decimal('2565')),
 (datetime.date(2018, 1, 14), Decimal('3442')),
 (datetime.date(2018, 1, 15), Decimal('2872')),
 (datetime.date(2018, 1, 16), Decimal('3281')),
 (datetime.date(2018, 1, 17), Decimal('2867')),
 (datetime.date(2018, 1, 18), Decimal('2668')),
 (datetime.date(2018, 1, 19), Decimal('4063')),
 (datetime.date(2018, 1, 20), Decimal('4289')),
 (datetime.date(2018, 1, 21), Decimal('3089')),
 (datetime.date(2018, 1, 22), Decimal('2933')),
 (datetime.date(2018, 1, 23), Decimal('2980')),
 (datetime.date(2018, 1, 24), Decimal('4565')),
 (datetime.date(2018, 1, 25), Decimal('4027')),
 (datetime.date(2018, 1, 26), Decimal('4218')),
 (datetime.date(2018, 1, 27), Decimal('4416')),
 (datetime.date(2018, 1, 28), Decimal('4837')),
 (datetime.date(2018, 1, 29), Decimal('5601')),
 (datetime.date(2018, 1, 30), Decimal('4669')),
 (datetime.date(2018, 1, 31), Decimal('3692')),
 (datetime.date(2018, 2, 1), Decimal('4588')),
 (datetime.date(2018, 2, 2), Decimal('5996')),
 (datetime.date(2018, 2, 3), Decimal('5333')),
 (datetime.date(2018, 2, 4), Decimal('6642')),
 (datetime.date(2018, 2, 5), Decimal('5411')),
 (datetime.date(2018, 2, 6), Decimal('6851')),
 (datetime.date(2018, 2, 7), Decimal('4392')),
 (datetime.date(2018, 2, 8), Decimal('6756')),
 (datetime.date(2018, 2, 9), Decimal('4658')),
 (datetime.date(2018, 2, 10), Decimal('4158')),
 (datetime.date(2018, 2, 11), Decimal('7861')),
 (datetime.date(2018, 2, 12), Decimal('6360')),
 (datetime.date(2018, 2, 13), Decimal('5730')),
 (datetime.date(2018, 2, 14), Decimal('4347')),
 (datetime.date(2018, 2, 15), Decimal('6287')),
 (datetime.date(2018, 2, 16), Decimal('6628')),
 (datetime.date(2018, 2, 17), Decimal('6367')),
 (datetime.date(2018, 2, 18), Decimal('4679')),
 (datetime.date(2018, 2, 19), Decimal('6770')),
 (datetime.date(2018, 2, 20), Decimal('6832')),
 (datetime.date(2018, 2, 21), Decimal('9470')),
 (datetime.date(2018, 2, 22), Decimal('8475')),
 (datetime.date(2018, 2, 23), Decimal('5668')),
 (datetime.date(2018, 2, 24), Decimal('9958')),
 (datetime.date(2018, 2, 25), Decimal('10911')),
 (datetime.date(2018, 2, 26), Decimal('7629')),
 (datetime.date(2018, 2, 27), Decimal('10247')),
 (datetime.date(2018, 2, 28), Decimal('10653')),
 (datetime.date(2018, 3, 1), Decimal('10235')),
 (datetime.date(2018, 3, 2), Decimal('11103')),
 (datetime.date(2018, 3, 3), Decimal('8872')),
 (datetime.date(2018, 3, 4), Decimal('10660')),
 (datetime.date(2018, 3, 5), Decimal('11956')),
 (datetime.date(2018, 3, 6), Decimal('9770')),
 (datetime.date(2018, 3, 7), Decimal('6316')),
 (datetime.date(2018, 3, 8), Decimal('7863')),
 (datetime.date(2018, 3, 9), Decimal('8140')),
 (datetime.date(2018, 3, 10), Decimal('12251')),
 (datetime.date(2018, 3, 11), Decimal('7479')),
 (datetime.date(2018, 3, 12), Decimal('9304')),
 (datetime.date(2018, 3, 13), Decimal('7030')),
 (datetime.date(2018, 3, 14), Decimal('5617')),
 (datetime.date(2018, 3, 15), Decimal('10086')),
 (datetime.date(2018, 3, 16), Decimal('10422')),
 (datetime.date(2018, 3, 17), Decimal('7141')),
 (datetime.date(2018, 3, 18), Decimal('6312')),
 (datetime.date(2018, 3, 19), Decimal('5892')),
 (datetime.date(2018, 3, 20), Decimal('6882')),
 (datetime.date(2018, 3, 21), Decimal('13677')),
 (datetime.date(2018, 3, 22), Decimal('11751')),
 (datetime.date(2018, 3, 23), Decimal('13579')),
 (datetime.date(2018, 3, 24), Decimal('14148')),
 (datetime.date(2018, 3, 25), Decimal('11644')),
 (datetime.date(2018, 3, 26), Decimal('7988')),
 (datetime.date(2018, 3, 27), Decimal('14659')),
 (datetime.date(2018, 3, 28), Decimal('11790')),
 (datetime.date(2018, 3, 29), Decimal('11180')),
 (datetime.date(2018, 3, 30), Decimal('8408')),
 (datetime.date(2018, 3, 31), Decimal('132'))]

# Daily subscribers

In [6]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT my_date, SUM(user_count) AS daily_subscribers
FROM
(SELECT my_date, user_id, COUNT(*) AS user_count
FROM subscribe_data
GROUP BY my_date, user_id) AS main
GROUP BY my_date
ORDER BY my_date;

89 rows affected.

[(datetime.date(2018, 1, 1), Decimal('59')),
 (datetime.date(2018, 1, 2), Decimal('115')),
 (datetime.date(2018, 1, 3), Decimal('181')),
 (datetime.date(2018, 1, 4), Decimal('47')),
 (datetime.date(2018, 1, 5), Decimal('42')),
 (datetime.date(2018, 1, 6), Decimal('36')),
 (datetime.date(2018, 1, 7), Decimal('56')),
 (datetime.date(2018, 1, 8), Decimal('38')),
 (datetime.date(2018, 1, 9), Decimal('50')),
 (datetime.date(2018, 1, 10), Decimal('55')),
 (datetime.date(2018, 1, 11), Decimal('73')),
 (datetime.date(2018, 1, 12), Decimal('29')),
 (datetime.date(2018, 1, 13), Decimal('44')),
 (datetime.date(2018, 1, 14), Decimal('67')),
 (datetime.date(2018, 1, 15), Decimal('68')),
 (datetime.date(2018, 1, 16), Decimal('53')),
 (datetime.date(2018, 1, 17), Decimal('53')),
 (datetime.date(2018, 1, 18), Decimal('35')),
 (datetime.date(2018, 1, 19), Decimal('66')),
 (datetime.date(2018, 1, 20), Decimal('77')),
 (datetime.date(2018, 1, 21), Decimal('66')),
 (datetime.date(2018, 1, 22), Decimal('73')),
 (datetime.date(2018, 1, 23), Decimal('57')),
 (datetime.date(2018, 1, 24), Decimal('48')),
 (datetime.date(2018, 1, 25), Decimal('64')),
 (datetime.date(2018, 1, 26), Decimal('97')),
 (datetime.date(2018, 1, 27), Decimal('72')),
 (datetime.date(2018, 1, 28), Decimal('60')),
 (datetime.date(2018, 1, 29), Decimal('80')),
 (datetime.date(2018, 1, 30), Decimal('98')),
 (datetime.date(2018, 1, 31), Decimal('84')),
 (datetime.date(2018, 2, 1), Decimal('59')),
 (datetime.date(2018, 2, 2), Decimal('92')),
 (datetime.date(2018, 2, 3), Decimal('122')),
 (datetime.date(2018, 2, 4), Decimal('83')),
 (datetime.date(2018, 2, 5), Decimal('72')),
 (datetime.date(2018, 2, 6), Decimal('84')),
 (datetime.date(2018, 2, 7), Decimal('123')),
 (datetime.date(2018, 2, 8), Decimal('88')),
 (datetime.date(2018, 2, 9), Decimal('95')),
 (datetime.date(2018, 2, 10), Decimal('48')),
 (datetime.date(2018, 2, 11), Decimal('79')),
 (datetime.date(2018, 2, 12), Decimal('96')),
 (datetime.date(2018, 2, 13), Decimal('92')),
 (datetime.date(2018, 2, 14), Decimal('47')),
 (datetime.date(2018, 2, 15), Decimal('93')),
 (datetime.date(2018, 2, 16), Decimal('72')),
 (datetime.date(2018, 2, 17), Decimal('106')),
 (datetime.date(2018, 2, 18), Decimal('66')),
 (datetime.date(2018, 2, 19), Decimal('69')),
 (datetime.date(2018, 2, 20), Decimal('56')),
 (datetime.date(2018, 2, 21), Decimal('91')),
 (datetime.date(2018, 2, 22), Decimal('69')),
 (datetime.date(2018, 2, 23), Decimal('94')),
 (datetime.date(2018, 2, 24), Decimal('111')),
 (datetime.date(2018, 2, 25), Decimal('105')),
 (datetime.date(2018, 2, 26), Decimal('120')),
 (datetime.date(2018, 2, 27), Decimal('105')),
 (datetime.date(2018, 2, 28), Decimal('113')),
 (datetime.date(2018, 3, 1), Decimal('139')),
 (datetime.date(2018, 3, 2), Decimal('127')),
 (datetime.date(2018, 3, 3), Decimal('151')),
 (datetime.date(2018, 3, 4), Decimal('75')),
 (datetime.date(2018, 3, 5), Decimal('146')),
 (datetime.date(2018, 3, 6), Decimal('110')),
 (datetime.date(2018, 3, 7), Decimal('85')),
 (datetime.date(2018, 3, 8), Decimal('71')),
 (datetime.date(2018, 3, 9), Decimal('57')),
 (datetime.date(2018, 3, 10), Decimal('107')),
 (datetime.date(2018, 3, 11), Decimal('104')),
 (datetime.date(2018, 3, 12), Decimal('97')),
 (datetime.date(2018, 3, 13), Decimal('66')),
 (datetime.date(2018, 3, 14), Decimal('70')),
 (datetime.date(2018, 3, 15), Decimal('125')),
 (datetime.date(2018, 3, 16), Decimal('74')),
 (datetime.date(2018, 3, 17), Decimal('69')),
 (datetime.date(2018, 3, 18), Decimal('57')),
 (datetime.date(2018, 3, 19), Decimal('52')),
 (datetime.date(2018, 3, 20), Decimal('58')),
 (datetime.date(2018, 3, 21), Decimal('66')),
 (datetime.date(2018, 3, 22), Decimal('110')),
 (datetime.date(2018, 3, 23), Decimal('132')),
 (datetime.date(2018, 3, 24), Decimal('117')),
 (datetime.date(2018, 3, 25), Decimal('171')),
 (datetime.date(2018, 3, 26), Decimal('95')),
 (datetime.date(2018, 3, 27), Decimal('171')),
 (datetime.date(2018, 3, 28), Decimal('171')),
 (datetime.date(2018, 3, 29), Decimal('135')),
 (datetime.date(2018, 3, 30), Decimal('116'))]

# Daily buyers

In [7]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT my_date, SUM(user_count) AS daily_buyers
FROM
(SELECT my_date, user_id, COUNT(*) AS user_count
FROM buy_data
GROUP BY my_date, user_id) as main
GROUP BY my_date
ORDER BY my_date;

89 rows affected.

[(datetime.date(2018, 1, 1), Decimal('6')),
 (datetime.date(2018, 1, 2), Decimal('11')),
 (datetime.date(2018, 1, 3), Decimal('11')),
 (datetime.date(2018, 1, 4), Decimal('12')),
 (datetime.date(2018, 1, 5), Decimal('15')),
 (datetime.date(2018, 1, 6), Decimal('19')),
 (datetime.date(2018, 1, 7), Decimal('17')),
 (datetime.date(2018, 1, 8), Decimal('26')),
 (datetime.date(2018, 1, 9), Decimal('9')),
 (datetime.date(2018, 1, 10), Decimal('22')),
 (datetime.date(2018, 1, 11), Decimal('33')),
 (datetime.date(2018, 1, 12), Decimal('19')),
 (datetime.date(2018, 1, 13), Decimal('32')),
 (datetime.date(2018, 1, 14), Decimal('25')),
 (datetime.date(2018, 1, 15), Decimal('26')),
 (datetime.date(2018, 1, 16), Decimal('42')),
 (datetime.date(2018, 1, 17), Decimal('26')),
 (datetime.date(2018, 1, 18), Decimal('15')),
 (datetime.date(2018, 1, 19), Decimal('82')),
 (datetime.date(2018, 1, 20), Decimal('66')),
 (datetime.date(2018, 1, 21), Decimal('42')),
 (datetime.date(2018, 1, 22), Decimal('22')),
 (datetime.date(2018, 1, 23), Decimal('44')),
 (datetime.date(2018, 1, 24), Decimal('21')),
 (datetime.date(2018, 1, 25), Decimal('39')),
 (datetime.date(2018, 1, 26), Decimal('22')),
 (datetime.date(2018, 1, 27), Decimal('53')),
 (datetime.date(2018, 1, 28), Decimal('32')),
 (datetime.date(2018, 1, 29), Decimal('61')),
 (datetime.date(2018, 1, 30), Decimal('75')),
 (datetime.date(2018, 1, 31), Decimal('22')),
 (datetime.date(2018, 2, 1), Decimal('59')),
 (datetime.date(2018, 2, 2), Decimal('59')),
 (datetime.date(2018, 2, 3), Decimal('65')),
 (datetime.date(2018, 2, 4), Decimal('103')),
 (datetime.date(2018, 2, 5), Decimal('59')),
 (datetime.date(2018, 2, 6), Decimal('136')),
 (datetime.date(2018, 2, 7), Decimal('65')),
 (datetime.date(2018, 2, 8), Decimal('43')),
 (datetime.date(2018, 2, 9), Decimal('58')),
 (datetime.date(2018, 2, 10), Decimal('73')),
 (datetime.date(2018, 2, 11), Decimal('69')),
 (datetime.date(2018, 2, 12), Decimal('135')),
 (datetime.date(2018, 2, 13), Decimal('103')),
 (datetime.date(2018, 2, 14), Decimal('47')),
 (datetime.date(2018, 2, 15), Decimal('107')),
 (datetime.date(2018, 2, 16), Decimal('83')),
 (datetime.date(2018, 2, 17), Decimal('37')),
 (datetime.date(2018, 2, 18), Decimal('92')),
 (datetime.date(2018, 2, 19), Decimal('84')),
 (datetime.date(2018, 2, 20), Decimal('68')),
 (datetime.date(2018, 2, 21), Decimal('66')),
 (datetime.date(2018, 2, 22), Decimal('205')),
 (datetime.date(2018, 2, 23), Decimal('119')),
 (datetime.date(2018, 2, 24), Decimal('74')),
 (datetime.date(2018, 2, 25), Decimal('144')),
 (datetime.date(2018, 2, 26), Decimal('114')),
 (datetime.date(2018, 2, 27), Decimal('158')),
 (datetime.date(2018, 2, 28), Decimal('139')),
 (datetime.date(2018, 3, 1), Decimal('137')),
 (datetime.date(2018, 3, 2), Decimal('221')),
 (datetime.date(2018, 3, 3), Decimal('113')),
 (datetime.date(2018, 3, 4), Decimal('244')),
 (datetime.date(2018, 3, 5), Decimal('185')),
 (datetime.date(2018, 3, 6), Decimal('135')),
 (datetime.date(2018, 3, 7), Decimal('167')),
 (datetime.date(2018, 3, 8), Decimal('169')),
 (datetime.date(2018, 3, 9), Decimal('143')),
 (datetime.date(2018, 3, 10), Decimal('59')),
 (datetime.date(2018, 3, 11), Decimal('98')),
 (datetime.date(2018, 3, 12), Decimal('251')),
 (datetime.date(2018, 3, 13), Decimal('102')),
 (datetime.date(2018, 3, 14), Decimal('90')),
 (datetime.date(2018, 3, 15), Decimal('97')),
 (datetime.date(2018, 3, 16), Decimal('105')),
 (datetime.date(2018, 3, 17), Decimal('212')),
 (datetime.date(2018, 3, 18), Decimal('214')),
 (datetime.date(2018, 3, 19), Decimal('143')),
 (datetime.date(2018, 3, 20), Decimal('120')),
 (datetime.date(2018, 3, 21), Decimal('53')),
 (datetime.date(2018, 3, 22), Decimal('109')),
 (datetime.date(2018, 3, 23), Decimal('334')),
 (datetime.date(2018, 3, 24), Decimal('300')),
 (datetime.date(2018, 3, 25), Decimal('209')),
 (datetime.date(2018, 3, 26), Decimal('189')),
 (datetime.date(2018, 3, 27), Decimal('270')),
 (datetime.date(2018, 3, 28), Decimal('226')),
 (datetime.date(2018, 3, 29), Decimal('163')),
 (datetime.date(2018, 3, 30), Decimal('37'))]

# Users/country

In [8]:
%%sql postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}
SELECT country, COUNT(*)
FROM read_data
GROUP BY country;

8 rows affected.

[('country_1', 6231),
 ('country_2', 130076),
 ('country_3', 9128),
 ('country_4', 71258),
 ('country_5', 149732),
 ('country_6', 63752),
 ('country_7', 132066),
 ('country_8', 19633)]